name: CI

on:
  release:
    types: [published, created]
  workflow_dispatch:
    inputs:
      upload-artifact:
        description: 'Upload artifacts'
        required: false
        default: 'true'
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  run:
    uses: ./.github/workflows/build.yaml
    secrets: inherit
    permissions: write-all
    with:
      upload-artifact: true